.container {
  padding-top: 10px;
  width: 55%;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

/*--- Responsiveness ---*/
@media screen and (max-width: 1700px) {
  .container {
    width: 45%;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 75%;
  }
}

@media screen and (max-width: 770px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 415px) {
  .container {
    width: 90%;
  }

  .section {
    margin: 0 auto;
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 90%;
  }

  .section {
    width: 80%;
  }
}

@media screen and (max-width: 300px) {
  .container {
    width: 80%;
  }

  .section {
    width: 75%;
  }
}
